<section class="nutritious-welcome-section" oncopy="Copyright.showContext();return false;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="nutritious-welcome-content">
					{{entry.textEditorFull}}
				</div>

				<div class="filter-preference-wrapbox about-accpre-cat">
					<ul class="accpre-category-list atmarketing">
						{%- include "_marketing/_includes/diet-icons" -%}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
