{#
{%- if not craft.agent.isDesktop() -%}
<section class="psstcb-app-section mt-psstcb">
	<div class="container">
		<div class="row">
			<div class="col-md-6 passt-imgcol">
				<img src="/images/passt-icon.svg" alt="Image" class="passt-icon-img" />
			</div>
			<div class="col-md-6">
				<img src="/images/tcb-icon.svg" alt="Image" class="passtcb-icon " />
				<h2 class="">Psst!.. Looking for a quick way to find the TCB web-app...</h2>
				<a href="#" id="add-to-home" class="defult-btn pink-bg">Add to your home screen</a>
			</div>
		</div>
	</div>
</section>
{%- endif -%}
#}
