<!-- Loader -->
<div id="preloader">
	<div id="status">
		<!-- img src="/images/loader-logo.svg" alt="TCB" / -->
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="89.997px" height="195.056px" viewBox="0 0 89.997 195.056" enable-background="new 0 0 89.997 195.056" xml:space="preserve">
			
			<path fill="#F4F5F5" d="M45.371,35.253c1.665-1.439,3.021-3.235,3.904-5.363c3.294-7.937-1.099-17.302-9.81-20.918
				c-8.712-3.615-18.444-0.112-21.738,7.825c-0.729,1.758-1.062,3.584-1.074,5.404l-0.011-0.005l-0.726,36.297l0.05,0.022
				c-0.083,1.207,0.566,2.386,1.745,2.875c1.167,0.485,2.448,0.127,3.246-0.763l0.016,0.006L45.371,35.253z"/>
			<path fill="none" stroke="#FFFFFF" stroke-width="0.298" stroke-miterlimit="10" d="M45.371,35.253
				c1.665-1.439,3.021-3.235,3.904-5.363c3.294-7.937-1.099-17.302-9.81-20.918c-8.712-3.615-18.444-0.112-21.738,7.825
				c-0.729,1.758-1.062,3.584-1.074,5.404l-0.011-0.005l-0.726,36.297l0.05,0.022c-0.083,1.207,0.566,2.386,1.745,2.875
				c1.167,0.485,2.448,0.127,3.246-0.763l0.016,0.006L45.371,35.253z"/>
			
			<path fill="#F4F5F5" d="M61.71,67.021c2.195,0.16,4.424-0.151,6.553-1.032c7.941-3.283,11.458-13.011,7.854-21.727
				c-3.604-8.717-12.962-13.122-20.904-9.839c-1.758,0.727-3.285,1.784-4.581,3.062l-0.004-0.011l-26.18,25.153l0.021,0.05
				c-0.913,0.795-1.287,2.087-0.799,3.267c0.483,1.168,1.641,1.821,2.835,1.756l0.006,0.015L61.71,67.021z"/>
			<path fill="none" stroke="#FFFFFF" stroke-width="0.298" stroke-miterlimit="10" d="M61.71,67.021
				c2.195,0.16,4.424-0.151,6.553-1.032c7.941-3.283,11.458-13.011,7.854-21.727c-3.604-8.717-12.962-13.122-20.904-9.839
				c-1.758,0.727-3.285,1.784-4.581,3.062l-0.004-0.011l-26.18,25.153l0.021,0.05c-0.913,0.795-1.287,2.087-0.799,3.267
				c0.483,1.168,1.641,1.821,2.835,1.756l0.006,0.015L61.71,67.021z"/>
			<path fill="#E6E7E8" d="M45.371,35.253c1.665-1.439,3.021-3.235,3.904-5.363c3.294-7.937-1.099-17.302-9.81-20.918
				c-8.712-3.615-18.444-0.112-21.738,7.825c-0.729,1.758-1.062,3.584-1.074,5.404l-0.011-0.005l-0.726,36.297l0.05,0.022
				c-0.083,1.207,0.566,2.386,1.745,2.875c1.167,0.485,2.448,0.127,3.246-0.763l0.016,0.006L45.371,35.253z"/>
			<path fill="none" stroke="#FFFFFF" stroke-width="0.95" stroke-miterlimit="10" d="M45.371,35.253
				c1.665-1.439,3.021-3.235,3.904-5.363c3.294-7.937-1.099-17.302-9.81-20.918c-8.712-3.615-18.444-0.112-21.738,7.825
				c-0.729,1.758-1.062,3.584-1.074,5.404l-0.011-0.005l-0.726,36.297l0.05,0.022c-0.083,1.207,0.566,2.386,1.745,2.875
				c1.167,0.485,2.448,0.127,3.246-0.763l0.016,0.006L45.371,35.253z"/>
			<path fill="#E6E7E8" d="M61.71,67.021c2.195,0.16,4.424-0.151,6.553-1.032c7.941-3.283,11.458-13.011,7.854-21.727
				c-3.604-8.717-12.962-13.122-20.904-9.839c-1.758,0.727-3.285,1.784-4.581,3.062l-0.004-0.011l-26.18,25.153l0.021,0.05
				c-0.913,0.795-1.287,2.087-0.799,3.267c0.483,1.168,1.641,1.821,2.835,1.756l0.006,0.015L61.71,67.021z"/>
			<path fill="none" stroke="#FFFFFF" stroke-width="0.95" stroke-miterlimit="10" d="M61.71,67.021
				c2.195,0.16,4.424-0.151,6.553-1.032c7.941-3.283,11.458-13.011,7.854-21.727c-3.604-8.717-12.962-13.122-20.904-9.839
				c-1.758,0.727-3.285,1.784-4.581,3.062l-0.004-0.011l-26.18,25.153l0.021,0.05c-0.913,0.795-1.287,2.087-0.799,3.267
				c0.483,1.168,1.641,1.821,2.835,1.756l0.006,0.015L61.71,67.021z"/>
			
			<path fill="#FFFFFF" d="M10.394,96.587v-8.479h31.145v8.479H30.511v31.255H21.45V96.587H10.394z M51.515,107.976
				c0,1.533,0.305,2.979,0.914,4.336c0.61,1.357,1.433,2.545,2.466,3.561c1.035,1.016,2.235,1.815,3.604,2.397
				c1.366,0.581,2.815,0.872,4.35,0.872c1.183,0,2.295-0.18,3.339-0.539c1.043-0.361,2.019-0.846,2.924-1.455
				c0.979-0.665,2.087-0.998,3.324-0.998c0.96,0,1.783,0.152,2.466,0.457c0.684,0.305,1.313,0.744,1.885,1.316l2.355,2.355
				c-1.146,1.219-2.359,2.318-3.644,3.297c-1.284,0.979-2.614,1.812-3.99,2.494c-1.377,0.683-2.795,1.21-4.254,1.58
				c-1.459,0.369-2.927,0.553-4.405,0.553c-1.865,0-3.667-0.24-5.402-0.72c-1.737-0.48-3.363-1.159-4.877-2.037
				c-1.516-0.877-2.893-1.93-4.129-3.158c-1.238-1.229-2.301-2.591-3.188-4.088c-0.886-1.496-1.575-3.106-2.064-4.835
				c-0.49-1.727-0.734-3.523-0.734-5.389c0-1.866,0.244-3.662,0.734-5.391c0.489-1.727,1.178-3.338,2.064-4.835
				c0.887-1.496,1.949-2.858,3.188-4.087c1.236-1.228,2.613-2.281,4.129-3.158c1.514-0.878,3.14-1.557,4.877-2.037
				c1.735-0.48,3.537-0.721,5.402-0.721c1.479,0,2.946,0.185,4.405,0.554c1.459,0.37,2.877,0.897,4.254,1.58
				c1.376,0.683,2.706,1.515,3.99,2.494c1.284,0.979,2.498,2.078,3.644,3.297l-2.355,2.356c-0.555,0.554-1.191,0.993-1.912,1.316
				c-0.72,0.322-1.533,0.483-2.438,0.483c-1.219,0-2.327-0.341-3.324-1.024c-0.925-0.627-1.908-1.117-2.951-1.468
				c-1.044-0.351-2.147-0.527-3.312-0.527c-1.534,0-2.983,0.296-4.35,0.887c-1.368,0.591-2.568,1.39-3.604,2.397
				c-1.033,1.006-1.855,2.188-2.466,3.547C51.819,104.996,51.515,106.442,51.515,107.976 M26.589,136.723
				C-32000.505,139.37,29.857,136.723,26.589,136.723 M58.713,183.927H51.57v-39.675h17.552c1.681,0,3.263,0.312,4.75,0.942
				c1.485,0.626,2.782,1.482,3.889,2.573c1.108,1.091,1.98,2.365,2.616,3.835c0.637,1.469,0.955,3.033,0.955,4.69
				c0,0.5-0.088,1.101-0.261,1.804c-0.177,0.697-0.423,1.378-0.735,2.031c-0.313,0.658-0.696,1.239-1.149,1.744
				c-0.452,0.509-0.964,0.82-1.536,0.928c0.774,0.096,1.491,0.429,2.145,1.011c0.656,0.581,1.224,1.302,1.704,2.163
				c0.479,0.855,0.858,1.783,1.135,2.779c0.278,0.996,0.415,1.947,0.415,2.853c0,1.717-0.327,3.321-0.982,4.817
				s-1.546,2.799-2.673,3.902c-1.126,1.109-2.443,1.983-3.959,2.618c-1.514,0.636-3.127,0.956-4.844,0.956L58.713,183.927z
				 M60.623,153.306v5.979h8.833c0.387,0,0.757-0.081,1.105-0.233c0.352-0.158,0.656-0.37,0.915-0.641
				c0.26-0.266,0.462-0.581,0.608-0.941c0.149-0.356,0.223-0.739,0.223-1.149c0-0.406-0.073-0.793-0.223-1.163
				c-0.146-0.369-0.349-0.689-0.608-0.968c-0.259-0.275-0.563-0.492-0.915-0.649c-0.349-0.158-0.719-0.234-1.105-0.234H60.623z
				 M70.922,174.873c0.424,0,0.823-0.086,1.192-0.262c0.368-0.176,0.691-0.419,0.969-0.721c0.274-0.307,0.498-0.658,0.665-1.055
				c0.164-0.396,0.248-0.815,0.248-1.258c0-0.446-0.079-0.86-0.235-1.248c-0.157-0.387-0.374-0.721-0.65-1.009
				c-0.277-0.284-0.6-0.518-0.97-0.694c-0.369-0.171-0.766-0.262-1.191-0.262H60.623v6.508H70.922z M45.672,174.905"/>
			<path class="blink-path" fill="#F2715D" d="M32.502,142.628c0,3.267-2.649,5.916-5.916,5.916s-5.916-2.649-5.916-5.916c0-3.268,2.649-5.916,5.916-5.916
				S32.502,139.36,32.502,142.628"/>
			<path class="blink-path" fill="#F2715D" d="M45.668,183.946c-15.034,0-28.726-8.277-35.731-21.602l8.011-4.213c5.436,10.341,16.058,16.764,27.72,16.764
				V183.946z"/>
			</svg>
	</div>
</div>
<!-- Loader End -->