<section class="delrecipe-popupsection">
	<div class="delrecipe-msdinnerdiv">
		<div class="delrecipe-msgdiv">
			<h5>Are you sure?</h5>
			<p></p>
		</div>
		<a href="#" class="defult-btn delrecipe-btn" id="delete-fav">Yes</a>
		<a href="javascript:void(0);" class="defult-btn delrecipecancel-btn">Cancel</a>
	</div>
</section>

<section class="delrecipe-popupsection custom-alert">
	<div class="delrecipe-msdinnerdiv">
		<div class="delrecipe-msgdiv">
			<p></p>
		</div>
		<a href="#" class="defult-btn" id="close-alert" style="margin:10px 0;">OK</a>
	</div>
</section>
