
<div class="sharesocial-link">
		<a href="javascript:void(0);" class="svg-fill">
			<svg version="1.2" baseProfile="tiny-ps" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 19" width="22" height="19">
				<title>Layer 4</title>
				<style>
					tspan { white-space:pre }
					.shp0 { fill: #ffffff } 
				</style>
				<g id="Layer 4">
					<g id="&lt;Group&gt;">
						<path id="&lt;Compound Path&gt;" fill-rule="evenodd" class="shp0" d="M22.02 0.71C21.7 1.25 21.39 1.8 21.07 2.35C20.65 3.07 20.22 3.79 19.8 4.52C19.25 5.46 18.7 6.4 18.15 7.34C17.74 8.05 17.32 8.77 16.91 9.49C16.57 10.06 16.24 10.63 15.9 11.2C15.65 11.63 15.4 12.06 15.15 12.5C14.87 12.97 14.59 13.44 14.31 13.92C13.97 14.51 13.63 15.1 13.29 15.69C13 16.19 12.71 16.68 12.42 17.18C12.11 17.71 11.81 18.23 11.5 18.75C11.41 18.9 11.23 18.99 11.05 18.95C10.9 18.93 10.76 18.78 10.73 18.61C10.7 18.47 10.68 18.34 10.66 18.2C10.57 17.71 10.49 17.22 10.4 16.73C10.3 16.18 10.2 15.64 10.1 15.1C10.02 14.69 9.96 14.27 9.89 13.86C9.8 13.36 9.7 12.86 9.61 12.36C9.54 11.93 9.47 11.5 9.39 11.07C9.32 10.65 9.23 10.24 9.16 9.82C9.11 9.56 9.07 9.3 9.02 9.03C8.96 8.7 8.9 8.36 8.83 8.03C8.82 7.98 8.79 7.92 8.75 7.89C8.39 7.59 8.03 7.28 7.67 6.98C7.23 6.62 6.8 6.25 6.37 5.88C5.78 5.38 5.18 4.89 4.59 4.39C4.2 4.06 3.82 3.73 3.44 3.41C2.82 2.89 2.2 2.37 1.58 1.85C1.25 1.57 0.92 1.3 0.59 1.02C0.44 0.89 0.38 0.7 0.44 0.54C0.49 0.37 0.64 0.26 0.85 0.26C1.33 0.26 1.8 0.26 2.27 0.26C3.25 0.25 4.23 0.26 5.21 0.25C6.33 0.25 7.46 0.24 8.59 0.23C9.76 0.22 10.93 0.21 12.09 0.21C13.19 0.2 14.29 0.2 15.39 0.2C16.53 0.19 17.68 0.2 18.83 0.19C19.66 0.19 20.49 0.17 21.32 0.17C21.42 0.16 21.53 0.17 21.63 0.18C21.83 0.18 21.95 0.3 22.02 0.47C22.02 0.55 22.02 0.63 22.02 0.71ZM9.68 8.05C9.7 8.18 9.73 8.32 9.75 8.45C9.81 8.76 9.86 9.06 9.92 9.37C9.96 9.64 10.02 9.9 10.06 10.17C10.11 10.46 10.16 10.75 10.21 11.04C10.26 11.36 10.33 11.67 10.38 11.99C10.44 12.27 10.48 12.56 10.54 12.85C10.59 13.14 10.65 13.44 10.7 13.74C10.75 14.04 10.8 14.33 10.85 14.62C10.93 15.04 11.01 15.45 11.08 15.87C11.15 16.27 11.22 16.67 11.28 17.07C11.29 17.13 11.31 17.18 11.33 17.24C11.35 17.29 11.39 17.3 11.42 17.25C11.44 17.23 11.46 17.21 11.47 17.18C11.69 16.81 11.9 16.44 12.12 16.07C12.35 15.67 12.59 15.27 12.82 14.87C13.15 14.31 13.47 13.74 13.8 13.17C14.22 12.46 14.64 11.74 15.06 11.03C15.42 10.41 15.78 9.79 16.14 9.17C16.56 8.45 16.98 7.73 17.4 7C17.76 6.39 18.12 5.77 18.48 5.16C18.76 4.69 19.03 4.21 19.3 3.74C19.58 3.26 19.87 2.77 20.15 2.29C20.23 2.16 20.3 2.04 20.37 1.91C20.38 1.89 20.37 1.85 20.38 1.82C20.35 1.82 20.31 1.82 20.28 1.83C20.27 1.83 20.25 1.84 20.23 1.85C19.98 2 19.72 2.15 19.47 2.29C18.55 2.82 17.63 3.35 16.72 3.88C16.18 4.19 15.64 4.5 15.1 4.81C14.39 5.22 13.68 5.64 12.96 6.05C12.42 6.37 11.87 6.69 11.32 7C10.81 7.3 10.3 7.59 9.79 7.89C9.73 7.92 9.68 7.96 9.68 8.05ZM11 1.03C11 1.04 11 1.04 11 1.05C10.28 1.05 9.56 1.05 8.84 1.05C8.35 1.05 7.87 1.06 7.38 1.06C6.25 1.06 5.13 1.06 4 1.07C3.39 1.07 2.78 1.08 2.17 1.08C2.13 1.08 2.09 1.11 2.05 1.13C2.07 1.16 2.08 1.2 2.11 1.23C2.39 1.47 2.67 1.71 2.95 1.94C3.37 2.3 3.8 2.65 4.22 3.01C4.72 3.43 5.21 3.85 5.71 4.27C6.1 4.6 6.49 4.92 6.88 5.25C7.28 5.59 7.68 5.93 8.08 6.27C8.42 6.56 8.77 6.84 9.11 7.13C9.24 7.24 9.27 7.25 9.42 7.16C9.87 6.9 10.31 6.64 10.75 6.38C11.34 6.04 11.93 5.71 12.52 5.37C13.14 5.01 13.75 4.66 14.36 4.3C15.2 3.82 16.04 3.33 16.88 2.85C17.72 2.37 18.55 1.88 19.39 1.4C19.55 1.3 19.72 1.21 19.89 1.11C19.91 1.09 19.93 1.06 19.94 1.04C19.92 1.02 19.89 1.01 19.86 1C19.85 1 19.83 1 19.81 1C19.24 1 18.67 1 18.09 1C17.52 1.01 16.94 1.01 16.37 1.01C15.8 1.01 15.23 1.02 14.67 1.02C13.96 1.03 13.25 1.03 12.53 1.03C12.02 1.03 11.51 1.03 11 1.03Z" />
					</g>
				</g>
			</svg>
		</a>
	</div>

<section class="filterside-section setting-sidebar socialshare-sidebar">
		<a href="#" class="close-sidebar">Close</a>
		<div class="slidertop-heart"><img src="/images/dot-dark-green/sign-icon-g.png" alt=""></div>
		<div class="slidertop-courve"></div>
		<div class="slidercenter-courve"></div> 
		<div class="sliderbtm-courve"></div>
		<div class="setting-sideinner">	
			<h3>Like this recipe?</h3>
			<h6>Share recipe</h6>		
			<ul class="d-flex flex-wrap social-icon">
				<li>
					<a href="#" class="share-trigger" data-target="facebook">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="9.329px" height="18.661px" viewBox="0 0 9.329 18.661" enable-background="new 0 0 9.329 18.661" xml:space="preserve">
							<path fill="#0c887b" d="M2.091,3.62c0-0.08,0-0.401,0.08-0.724c0-0.402,0.161-0.804,0.403-1.206
								c0.241-0.403,0.643-0.805,1.287-1.127C4.343,0.161,5.228,0,6.274,0h3.055v3.38H7.077c-0.24,0-0.401,0.08-0.643,0.24
								c-0.16,0.161-0.322,0.322-0.322,0.483v2.091H9.25c0,0.402-0.081,0.804-0.081,1.206L9.008,8.446c-0.08,0.322-0.08,0.645-0.16,0.965
								H6.032v9.25H2.091v-9.33H0V6.113h2.011V3.62H2.091z"/>
						</svg>
					</a>
				</li>
				<!--
					INSTAGRAM SHARE 
				<li>
					<a href="#">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20.601px" height="20.605px" viewBox="0 0 20.601 20.605" enable-background="new 0 0 20.601 20.605" xml:space="preserve">
							<path fill="#0c887b" d="M14.62,0H5.984C2.685,0,0,2.684,0,5.984v8.632c0,3.303,2.685,5.988,5.984,5.988h8.632
								c3.3,0,5.984-2.686,5.984-5.984V5.984C20.604,2.684,17.92,0,14.62,0 M18.994,14.621c0,2.414-1.964,4.373-4.374,4.373H5.984
								c-2.411,0-4.374-1.963-4.374-4.373V5.984c0-2.41,1.963-4.374,4.374-4.374h8.632c2.414,0,4.374,1.964,4.374,4.374v8.636H18.994z"/>
							<path fill="#0c887b" d="M10.302,4.749c-3.062,0-5.553,2.491-5.553,5.553c0,3.063,2.491,5.553,5.553,5.553
								c3.063,0,5.553-2.49,5.553-5.553C15.854,7.24,13.364,4.749,10.302,4.749 M10.302,14.246c-2.173,0-3.943-1.771-3.943-3.943
								c0-2.173,1.771-3.944,3.943-3.944s3.944,1.771,3.944,3.944C14.246,12.474,12.475,14.246,10.302,14.246"/>
							<path fill="#0c887b" d="M15.936,3.863c0.444,0,0.806,0.36,0.806,0.805s-0.361,0.806-0.806,0.806s-0.805-0.361-0.805-0.806
								S15.491,3.863,15.936,3.863"/>
						</svg>
					</a>
				</li>
				-->
				<li href="#" class="share-trigger" data-target="pinterest">
					<a href="">
						<svg version="1.2" baseProfile="tiny-ps" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 22" width="17" height="22">
							<g id="Layer 4">
								<g id="&lt;Group&gt;">
									<g id="&lt;Group&gt;">
										<path id="&lt;Path&gt;" fill="#0c887b" d="M7.26 14.81C7.23 14.91 7.21 14.98 7.19 15.05C6.94 15.99 6.7 16.92 6.45 17.86C6.26 18.56 5.93 19.21 5.57 19.84C5.18 20.52 4.76 21.19 4.2 21.76C4.16 21.8 4.12 21.83 4.05 21.89C4.04 21.82 4.02 21.78 4.01 21.74C3.89 20.77 3.8 19.79 3.81 18.81C3.81 18.24 3.87 17.68 4 17.13C4.49 15.08 4.97 13.02 5.46 10.97C5.49 10.83 5.48 10.71 5.44 10.57C5.06 9.5 4.97 8.42 5.38 7.34C5.65 6.6 6.1 6.01 6.88 5.73C7.56 5.48 8.34 5.68 8.73 6.19C9.05 6.6 9.15 7.07 9.13 7.57C9.1 8.3 8.88 8.99 8.67 9.68C8.47 10.37 8.27 11.05 8.08 11.74C7.7 13.09 8.73 14.22 10.05 14.18C11.2 14.14 12.07 13.6 12.75 12.72C13.51 11.74 13.9 10.6 14.02 9.37C14.07 8.82 14.11 8.26 14.07 7.72C13.99 6.43 13.51 5.28 12.57 4.37C11.59 3.42 10.37 2.97 9.01 2.89C8.29 2.86 7.58 2.92 6.89 3.11C6.01 3.36 5.21 3.77 4.54 4.41C4.09 4.82 3.71 5.28 3.43 5.82C2.82 6.99 2.59 8.23 2.85 9.55C2.99 10.29 3.27 10.97 3.72 11.58C3.79 11.67 3.81 11.84 3.78 11.96C3.69 12.42 3.57 12.87 3.45 13.33C3.37 13.65 3.24 13.7 2.94 13.54C2.31 13.22 1.82 12.74 1.45 12.15C0.74 11.04 0.34 9.83 0.34 8.51C0.34 7.2 0.62 5.96 1.24 4.8C2.3 2.8 3.96 1.57 6.11 0.97C7.65 0.54 9.22 0.46 10.79 0.77C12.12 1.02 13.33 1.58 14.37 2.45C15.8 3.64 16.68 5.15 16.96 7C17.16 8.38 17.01 9.73 16.62 11.06C16.29 12.14 15.78 13.13 15.05 13.99C14.17 15.03 13.09 15.77 11.76 16.09C10.69 16.35 9.62 16.39 8.59 15.91C8.1 15.68 7.66 15.37 7.35 14.91C7.33 14.89 7.31 14.87 7.26 14.81Z" />
									</g>
								</g>
							</g>
						</svg>
					</a>
				</li>
				<li>
					<a href="" href="#" class="share-trigger" data-target="email">
						<svg version="1.2" baseProfile="tiny-ps" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 19" width="22" height="19">
							<g id="Layer 4">
								<g id="&lt;Group&gt;">
									<g id="&lt;Group&gt;">
										<path id="&lt;Compound Path&gt;" fill="#0c887b" fill-rule="evenodd" d="M11.05 -0.09C13.71 -0.09 16.37 -0.09 19.03 -0.09C20.36 -0.09 21.43 0.62 21.85 1.79C21.97 2.15 22.03 2.55 22.04 2.93C22.05 7.23 22.05 11.53 22.04 15.84C22.04 17.54 20.77 18.78 19.04 18.78C16.7 18.79 14.36 18.78 12.02 18.78C9.09 18.78 6.17 18.78 3.25 18.78C2.09 18.78 1.17 18.35 0.56 17.35C0.26 16.86 0.16 16.31 0.16 15.74C0.16 11.75 0.16 7.76 0.17 3.77C0.17 3.21 0.16 2.63 0.27 2.08C0.5 1 1.52 -0.11 3.24 -0.09C5.58 -0.08 7.92 -0.09 10.26 -0.08C10.52 -0.08 10.79 -0.08 11.05 -0.08C11.05 -0.09 11.05 -0.09 11.05 -0.09ZM1.95 5.53C1.94 5.64 1.93 5.7 1.93 5.76C1.93 9.13 1.93 12.5 1.94 15.88C1.94 16.51 2.42 17 3.06 17.01C3.44 17.02 3.82 17.02 4.19 17.02C7.2 17.02 10.2 17.02 13.21 17.01C15.15 17.01 17.1 17.02 19.05 17.01C19.82 17.01 20.27 16.55 20.27 15.78C20.27 12.45 20.27 9.13 20.27 5.8C20.27 5.73 20.26 5.65 20.25 5.54C19.98 5.73 19.75 5.88 19.52 6.04C16.94 7.85 14.36 9.66 11.78 11.46C11.26 11.83 10.94 11.83 10.44 11.47C7.88 9.68 5.33 7.89 2.78 6.1C2.52 5.92 2.25 5.74 1.95 5.53ZM11.13 1.68C11.13 1.68 11.13 1.68 11.13 1.68C8.48 1.68 5.83 1.68 3.18 1.68C2.82 1.68 2.51 1.77 2.26 2.02C2.04 2.24 1.96 2.51 1.93 2.82C1.89 3.21 2.01 3.46 2.35 3.66C2.78 3.91 3.18 4.23 3.59 4.51C6.02 6.22 8.45 7.92 10.88 9.63C11.06 9.75 11.17 9.73 11.34 9.62C12.88 8.52 14.44 7.44 15.99 6.35C17.34 5.41 18.68 4.47 20.02 3.53C20.12 3.46 20.25 3.37 20.26 3.27C20.28 3.03 20.29 2.77 20.23 2.54C20.1 1.98 19.66 1.68 19.01 1.68C16.39 1.68 13.76 1.68 11.13 1.68Z" />
									</g>
								</g>
							</g>
						</svg>
					</a>
				</li>
			</ul>
		</div>
		<div class="footer-social">
			<ul class="social-icon d-flex flex-wrap justify-content-center">
				{%if siteSettings.textbox is not empty%}<li><a href="{{siteSettings.textbox}}" target="_blank"><img src="/images/facebook-icon.svg" alt="facebook"></a></li>{%endif%}
				{%if siteSettings.textbox2 is not empty%}<li><a href="{{siteSettings.textbox2}}" target="_blank"><img src="/images/instagram-icon.svg" alt="instagram"></a></li>{%endif%}
			</ul>
		</div>
		<div class="bubblebg-wrap filter-bubble">		
			<div class="bubble b-sm x122 yellow"></div>		    
			<div class="bubble b-md x922 pink"></div>
			<div class="bubble b-sm x1522 skin"></div>
			<div class="bubble b-md x822 green"></div>
		</div>
		</section>