<section class="filterside-section general-msg">
	<a href="#" class="close-sidebar">Close</a>
	<div class="slidertop-courve"></div>
	<div class="bubble b-sign"></div>
	<div class="slidercenter-courve"></div>
	<div class="sliderbtm-courve"></div>
	<div class="addgrocerieside-content">
		<h3 class="hdr"></h3>
		<div class="cntnt">
			
		</div>		
	</div>
	{%if isDesktop == 1%}
	<div class="bubblebg-wrap filter-bubble">		
		<div class="bubble b-sm x122 yellow"></div>		    
		<div class="bubble b-md x922 pink"></div>
		<div class="bubble b-sm x1522 skin"></div>
		<div class="bubble b-md x822 green"></div>
		<div class="bubble b-lg x522 yellow-big"></div>
	</div>
	{%-endif-%}
</section>

